	debug-level		0

	enable-cache		passwd		no
	enable-cache		group		no

	enable-cache		hosts		yes
	positive-time-to-live	hosts		{{ dns_positive_ttl }}
	negative-time-to-live	hosts		{{ dns_negative_ttl }}
	suggested-size		hosts		{{ dns_cache_size }}
	check-files		hosts		yes
