- name: Don't purge VFS cache that often.
  sysctl:
    name: vm.vfs_cache_pressure
    value: "50"

- name: Set dirty_bytes to 512M
  sysctl:
    name: vm.dirty_bytes
    value: "536870912"

- name: Set background flush of dirty bytes to 50M
  sysctl:
    name: vm.dirty_background_bytes
    value: "52428800"

- name: Start swapping only when <=30% of ram is free.
  sysctl:
    name: vm.swappiness
    value: "30"
