- name: set resolve.conf to 127.0.0.1 with immutable bit
  copy:
    dest: /etc/resolv.conf
    content: "nameserver 127.0.0.1{{'\n'}}"
    attributes: ie
    owner: root
    group: root
    mode: 0644
