{% if screen_resolution == '1920x1080' %}
{%     set autofit = '1200' %}
{%     set font_size = '36' %}
{% else %}
{%     set autofit = '800' %}
{%     set font_size = '40' %}
{% endif %}

hwdec=auto
vo=gpu

video-sync=display-resample
interpolation
dscale=mitchell
tscale=oversample

ao=alsa

# Control maximum size of mpv window
autofit={{ autofit }}

# Move subs a little up.
sub-pos=97

# OSD font settings. The half-transparent background under subs.
sub-ass=no
sub-font="Alte Haas Grotesk"
sub-color='#EEEEEE'
sub-bold=yes
sub-font-size={{ font_size }}
sub-back-color="#80000000"
sub-border-size=0.0

# margin on sub-back-color.
sub-shadow-offset=5

alang=jpn
slang=eng

no-resume-playback

# Put mpv window in the center.
geometry=50%:50%

# Make youtube-dl prefer the <=720p
ytdl-format=best[height<=720]

screenshot-format=png

# Reduce softvol to mitigation issue with cracking sound on some devices.
# this should be more or less -2dB
volume=96
