{% if common_hosts is defined %}
{% for host in common_hosts %}
{% if host.ssh is defined %}
host {{ host.name }}
{% for key, value in host.ssh.items() %}
    {{ key }} {{ value }}
{% endfor %}

{% endif %}
{% endfor %}
{% endif %}
host *
    TCPKeepAlive yes
    ServerAliveInterval 59
#    ControlMaster auto
#    ControlPath ~/.ssh/sockets/%r@%h-%p
#    ControlPersist 600
