{% if system_type == 'laptop'     %}
{%     set font_dpi       = '148' %}
{%     set xcursor_size   = '32'  %}
{%     set term_font_size = '12'  %}
{% else                           %}
{%     set font_dpi       = '120' %}
{%     set xcursor_size   = '16'  %}
{%     set term_font_size = '11'  %}
{% endif                          %}

Xft.dpi: {{ font_dpi }}

urxvt*scrollBar:false
urxvt.perl-ext-common:  default,-searchable-scrollback
urxvt*geometry: 90x24
urxvt*termName: rxvt-256color

*.cursorColor: #eee
*.foreground:  #eee
*.background:  #000

*.color1: OrangeRed
*.color4: CornflowerBlue
*.color12: #729FCF

*.font: xft:xos4 Terminus:style=regular:size={{ term_font_size }}:antialias=false:lang=pl,xft:Droid Sans Japanese,xft:Droid Sans Fallback

Xcursor.size: {{ xcursor_size }}
