{# rust did not yet got znver2 support #}
{% if target_cpu == 'znver2' %}
{%     set target_cpu_rust = 'znver1' %}
{% else %}
{%     set target_cpu_rust = target_cpu %}
{% endif %}
CHOST="x86_64-pc-linux-gnu"

CFLAGS="-O3 -pipe -march={{ target_cpu }}"
CXXFLAGS="${CFLAGS}"
RUSTFLAGS="-C target-cpu={{ target_cpu_rust }} -v"

ACCEPT_KEYWORDS="~amd64"

PORTAGE_NICENESS="19"
L10N="en"

FEATURES="parallel-fetch -config-protect-if-modified"

GENTOO_MIRRORS="https://mirror.netcologne.de/gentoo/ https://ftp-stud.hs-esslingen.de/pub/Mirrors/gentoo/ https://ftp.fau.de/gentoo"

MAKEOPTS="--quiet -j{{ ansible_processor_vcpus }} -l{{ ansible_processor_vcpus }}"

CPU_FLAGS_X86="{{ cpu_flags_x86 }}"

ACCEPT_LICENSE="*"

# Save elog, viewable by elogv.
PORTAGE_ELOG_SYSTEM="save" 
PORTAGE_ELOG_CLASSES="warn error info log qa"

# Utilize /var/portage.
PORTAGE_HOME="/var/portage"
PORTAGE_TMPDIR="${PORTAGE_HOME}/tmp"
PORTDIR="${PORTAGE_HOME}/tree"
DISTDIR="${PORTAGE_HOME}/distfiles"
PKGDIR="${PORTAGE_HOME}/packages"

# Use axel instead of default wget to fetch distfiles.
FETCHCOMMAND="axel --num-connections=4 --timeout=30 --alternate --no-clobber --output=\"\${DISTDIR}/\${FILE}\" \"\${URI}\""
RESUMECOMMAND="axel --num-connections=4 --timeout=30 --alternate --no-clobber --output=\"\${DISTDIR}/\${FILE}\" \"\${URI}\""

# Some better defaults ...
EMERGE_DEFAULT_OPTS="
    --with-bdeps y
    --binpkg-changed-deps y
    --binpkg-respect-use y
    --buildpkg-exclude 'virtual/* sys-kernel/*-sources games-*/* app-emulation/emul-linux-*'
    --backtrack=300
    --jobs 4
    --load-average {{ ansible_processor_vcpus }}
"

foobashrc_modules="localpatch striplafiles break_hardlinks"

{% if ccache is undefined or ccache is sameas true %}
FEATURES="${FEATURES} ccache"
CCACHE_DIR="/var/portage/tmp/ccache"
CCACHE_SIZE="3G"
{% endif %}

VIDEO_CARDS="amdgpu radeonsi radeon intel i965"
INPUT_DEVICES="synaptics libinput"

RUBY_TARGETS='ruby25 ruby27'

PYTHON_TARGETS="python3_6 python3_7 python3_8"
