CHOST="x86_64-pc-linux-gnu"

CFLAGS="-O3 -pipe -march={{ target_cpu }}"
CXXFLAGS="${CFLAGS}"
RUSTFLAGS="-C target-cpu={{ target_cpu }} -v"

ACCEPT_KEYWORDS="~amd64"

CLEAN_DELAY="0"

PORTAGE_NICENESS="19"
PORTAGE_SCHEDULING_POLICY="idle"

L10N="en"
LINGUAS="en en_US en_GB"

FEATURES="parallel-fetch -config-protect-if-modified noinfo"

MAKEOPTS="-j{{ ansible_processor_vcpus }} -l{{ (ansible_processor_vcpus * 1.2) | round | int }}"

CPU_FLAGS_X86="{{ cpu_flags_x86 }}"

ACCEPT_LICENSE="*"

# Save elog, viewable by elogv.
PORTAGE_ELOG_SYSTEM="save echo" 
PORTAGE_ELOG_CLASSES="warn error info log qa"

# Utilize /var/portage.
PORTAGE_HOME="/var/portage"
PORTAGE_TMPDIR="${PORTAGE_HOME}/tmp"
DISTDIR="${PORTAGE_HOME}/distfiles"
PKGDIR="${PORTAGE_HOME}/packages"

# Use aria2 instead of default wget to fetch distfiles.
FETCHCOMMAND="aria2c -j 4 -x 4 -s 4 -k 1M -d \"\${DISTDIR}\" -o \"\${FILE}\" \"\${URI}\""
RESUMECOMMAND="aria2c -j 4 -x 4 -s 4 -k 1M -d \"\${DISTDIR}\" -o \"\${FILE}\" \"\${URI}\""

# Some better defaults ...
EMERGE_DEFAULT_OPTS="
    --with-bdeps y
    --binpkg-respect-use y
    --buildpkg-exclude 'virtual/* sys-kernel/*-sources app-emulation/emul-linux-* app-emulation/virtualbox-modules net-misc/realtek-r8152 dev-util/sysdig-kmod app-admin/ryzen_smu x11-drivers/nvidia-drivers'
    --usepkg
    --jobs {{ (ansible_processor_vcpus / 4) | int }}
    --load-average {{ ansible_processor_vcpus }}
    --backtrack 30
"

{% if buildpkg is undefined or buildpkg is sameas true %}
FEATURES="${FEATURES} buildpkg"
{% endif %}

BINPKG_COMPRESS="zstd"

VIDEO_CARDS="amdgpu radeonsi radeon intel i965"
INPUT_DEVICES="synaptics libinput"

RUBY_TARGETS='ruby26 ruby27 ruby31'

PYTHON_TARGETS="python3_10 python3_11"
PYTHON_SINGLE_TARGET="python3_10"

QEMU_USER_TARGETS="aarch64 riscv32 riscv64"
