# Listen only on lo.
#bind-interfaces
listen-address=127.0.0.1

{% if network.dns.upstream == "connman" %}
# Use connman's resolv.conf.
resolv-file=/var/run/connman/resolv.conf
{% else %}
# Dns servers.
no-resolv
{% if network.dns.upstream == 'opendns' %}
server=208.67.222.222
server=208.67.220.220
{% elif network.dns.upstream == 'google' %}
server=8.8.8.8
server=8.8.4.4
{% elif network.dns.upstream == 'cloudflare' %}
server=1.1.1.1
{% endif %}
{% endif %}

# Cache.
cache-size=1024

# Never forward plain names (without a dot or domain part)
domain-needed

# Never forward addresses in the non-routed address spaces.
bogus-priv

# Sets a default TTL value to add to negative replies from the parent nameservers,
# in case these replies do not contain TTL information.
neg-ttl=3600

# set TTL to 1 day.
max-ttl=86400

# DHCP server.
#interface=lebridge0
#interface=eth0
#dhcp-range=172.20.0.100,172.20.0.150,255.255.255.0,24h
#dhcp-range=192.168.0.100,192.168.0.150,255.255.255.0,24h

#enable-tftp
#tftp-root=/tmp/tftp/

#log-facility=/var/log/dnsmasq.log
#log-queries

#addn-hosts=/etc/hosts.adblock
